salesforce__demo/src/main/mule/salesforce__demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3143fadf-bca4-44f9-b695-9968f649de54" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="c8af434e-0d59-4078-ac9b-e3f3323f80d8" >
		<salesforce:basic-connection username="anumalasetty.a@infosys.com" password="aBcDEf@143akhi" securityToken="AnNUr5o2g1idBphTxv2ACydE" />
	</salesforce:sfdc-config>
	<sub-flow name="subflow" doc:id="77dc0232-74d4-41dc-8b8b-260f6da5dcba" >
		<set-variable value="#[vars.origin]" doc:name="origin" doc:id="5cce94eb-a9cd-49bc-8473-cfa148171aec" variableName="origin"/>
		<set-variable value="#[vars.destination]" doc:name="destination" doc:id="5204b88e-60f4-401a-a375-b0e1ba7ecc5e" variableName="destination"/>
		<set-variable value="#[vars.price]" doc:name="price" doc:id="5cdee5da-fab0-4ccd-8665-3e017fcfd9ec" variableName="price"/>
	</sub-flow>
	<flow name="getAllFlights" doc:id="cd74cfac-7ea9-43a3-801c-bd1f9ebb1c68" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="64ecf09c-7fbf-4955-bb52-3d303f5dc050" config-ref="HTTP_Listener_config" path="/flights"/>
		<salesforce:query doc:name="Query" doc:id="889268a4-cc17-4282-8211-4fff2555ab68" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name,origin__c,destination__c,price__c from Flight__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="22acbc02-409a-418a-a362-54b92c9eea4a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	FID:$.Name,
	Origin:$.origin__c,
	Destination:$.destination__c,
	Price:$.price__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="5c97e847-61c5-491a-a5dd-7a82ae15c28c" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="132b3195-a042-4ee6-9586-68c671f542cf" config-ref="HTTP_Listener_config" path="/flights/{fid}" allowedMethods="GET"/>
		<salesforce:query doc:name="QuerySingle" doc:id="778b3a47-8f08-4220-8719-d7abc23c6f2d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name,origin__c,destination__c,price__c from Flight__c where Name = ':fid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	fid : attributes.uriParams.fid
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="9893b410-d6bd-4004-a712-ecbfcec44a20" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postflights" doc:id="a2e6733e-5383-40ef-9c2d-31485713982c" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="2f9ab601-c12b-42e0-a02f-5bdc174aa208" config-ref="HTTP_Listener_config" path="/flig" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="1d677caa-8641-4725-ab7d-e487ade8cdcc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	origin__c: payload.origin,
	destination__c: payload.destination,
	price__c: payload.price
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Flight__c" doc:name="Create" doc:id="ccff0a0d-c549-43f1-a80a-c082b2e38367" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="9d4b86da-c9d7-4e59-8d18-04a4adff9b2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteFlights" doc:id="61c35d6d-5b06-44ca-a352-7f91b9ee2f11" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="717598fa-67d1-479e-92ff-62905981c206" config-ref="HTTP_Listener_config" path="/flights/{fid}" allowedMethods="DELETE"/>
		<salesforce:query doc:name="Query" doc:id="eb64528f-d89b-447c-9f4a-c63c4cab3b41" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name,Id from Flight__c where Name= ':fid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	fid : attributes.uriParams.fid
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="87374bc0-b0a2-431b-8acd-e36cac180f92" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	Id: $.Id,
	Name: $.Name 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="0a62538c-1d9f-412a-af49-fbe060ed5a08" config-ref="Salesforce_Config">
			<salesforce:ids ><![CDATA[#[payload.Id]]]></salesforce:ids>
		</salesforce:delete>
		<ee:transform doc:name="Transform Message" doc:id="400c3bb3-9350-4ac8-b99e-fd356cabad6a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "deleted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="patch" doc:id="c23d8623-50c8-492e-8b58-8e9196a6bffd" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="cf59a57d-1587-4f26-8304-027b52ed5192" config-ref="HTTP_Listener_config" path="/flights/{fid}" allowedMethods="PATCH"/>
		<flow-ref doc:name="Flow Reference" doc:id="60b3607e-8a8b-44f9-8a67-bc16c4cccc66" name="subflow"/>
		<salesforce:query doc:name="Query" doc:id="a9f47c0f-72b2-4619-8224-d8485a73ee3f" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name,Id from Flight__c where Name= ':fid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	fid : attributes.uriParams.fid
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="e1b22e65-793d-433a-8d04-09a30bdc428f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	origin__c: vars.origin,
	destination__c: vars.destination,
	price__c: vars.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update doc:name="Update" doc:id="3c329c9d-d234-47aa-aea7-b8c1ccc3baa1" config-ref="Salesforce_Config" type="Flight__c"/>
		<ee:transform doc:name="Transform Message" doc:id="a7ffd3e1-7d8d-495a-84a4-f949948ca53f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "partially updated successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="put" doc:id="4029f8cf-2b2e-4486-b555-37567fc272e1" >
		<http:listener doc:name="Copy_of_Listener" doc:id="12cc0078-6281-4323-83d1-28d13425a517" config-ref="HTTP_Listener_config" path="/flights/{fid}" allowedMethods="PUT" />
		<flow-ref doc:name="Copy_of_Flow Reference" doc:id="9050a9a9-5e61-4c2b-ae1a-7f0a40b5e35f" name="subflow" />
		<salesforce:query doc:name="Copy_of_Query" doc:id="06da2b62-beb1-454a-9016-50d4b8c2a056" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[select Name,Id from Flight__c where Name = ':fid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	fid : attributes.uriParams.fid
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="27b9d16b-a369-4453-ab68-6eaafc8d0b5d" >
			<when expression="#[payload.Id != null]">
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="2e2f0b02-f4db-4410-873a-a92f6ce4a4b3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
	origin__c: vars.origin,
	destination__c: vars.destination,
	price__c: vars.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<salesforce:update type="Flight__c" doc:name="Copy_of_Update" doc:id="36c5c56a-16d2-45fc-a7ae-66a78378b3d4" config-ref="Salesforce_Config" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="2073705d-e1a9-49eb-a9d9-2c19d153e3b4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "updated successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="3dbcab9a-0e58-4d5c-be6a-c5c46e1c26c9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	origin__c: vars.origin,
	destination__c: vars.destination,
	price__c: vars.price
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:create type="Flight__c" doc:name="Create" doc:id="bf7429f7-a208-478f-bb5e-f7b2f19200ec" config-ref="Salesforce_Config" />
				<ee:transform doc:name="Transform Message" doc:id="4e789127-23af-48e4-997b-b496a633d0b9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "added successfully"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
